.para{
    margin: 10px 10px 10px
    10px;
    color: rgb(248, 119, 119);
    background-color: rgb(56, 56, 172);
}

h2{
    color: aquamarine;
    background-color: brown;
    margin: 10px;

}

.cox{
    height: 200px;
    width: 200px;
}

.martin{
    height: 200px;
    width: 200px;
}

